Django==1.9.2
Markdown==2.6.2
Pillow==2.9.0
appnope==0.1.0
contextlib2==0.5.3
decorator==4.0.4
dj-database-url==0.4.0
django-cors-headers==1.1.0
django-debug-toolbar==1.4
django-filter==0.11.0
djangorestframework==3.3.2
envparse==0.2.0
gnureadline==6.3.3
gunicorn==19.4.5
ipython==4.0.0
ipython-genutils==0.1.0
ohmu==0.5.0
path.py==8.1.2
pathlib2==2.1.0
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
python-dateutil==2.5.3
raven==5.10.2
requests==2.8.1
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.1.18
traitlets==4.0.0
wheel==0.24.0
whitenoise==2.0.6
wsgiref==0.1.2
psycopg2==2.6.1
